.home-container {
  min-height: 100vh;
  background: linear-gradient(135deg, oklab(90.445% -0.02181 0.16908), #fd77ba);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  text-align: center;
}

.home-logo {
  width: 420px;   /* Big logo */
  max-width: 90%;
  margin-bottom: 30px;
}

.home-title {
  margin: 0;
  font-size: 40px;
  color: #0f172a;
}

.home-subtitle {
  margin: 10px 0 30px 0;
  color: #000000;
  font-size: 20px;
}

.home-login-btn {
  padding: 14px 40px;
  border-radius: 999px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  background: #f97316; /* same orange as search */
  color: white;

  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
}

.home-login-btn:hover {
  transform: translateY(-2px);
  opacity: 0.95;
}